<div class='min-h-screen flex items-center justify-center flex-col'>
    <div class="flex items-center justify-center flex-col flex-1">
        <div class="card bg-base-100 w-96 shadow-xl">
            <div class="card-body">
                <h1 class=' text-center text-2xl font-bold mb-4'>Login</h1>
                <form class='flex flex-col gap-5' [formGroup]="form" (ngSubmit)="submit()">
                    <div class="form-group">
                        <label class="input input-bordered flex items-center gap-2">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                class="h-4 w-4 opacity-70">
                                <path
                                    d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6ZM12.735 14c.618 0 1.093-.561.872-1.139a6.002 6.002 0 0 0-11.215 0c-.22.578.254 1.139.872 1.139h9.47Z" />
                            </svg>
                            <input required type="text" placeholder="Authorization Key"
                                formControlName="authorizationKey" />
                        </label>
                    </div>
                    <button class="btn w-full btn-primary" type='submit' [disabled]="!form.valid">
                        Login
                    </button>
                </form>
            </div>
        </div>

    </div>
    <footer class='h-[100px] flex items-center justify-center w-full flex-col'>
        <div class="divider w-full"></div>
    </footer>
</div>